* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;

}

#nav{
    height: 4vw;
    width: 100%;
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.circle{
    height: 1.7vw;
    width: 1.7vw;
    background-color: black;
    border-radius: 50%;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2>h4{
    font-size: 18px;
    font-weight: 500;
}

#nav-part2>h4>span{
    color: rgb(126, 126, 126);
    margin-left: 1.7vw;
}