* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: white;
}

#nav {
  height: 4vw;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.3vw;
  padding: 0 30px;
}

#nav > h4 {
  font-size: 1vw;
  font-weight: 500;
}

#nav > i {
  background-color: black;
  color: white;
  font-size: 1vw;
  padding: 0.5vw;
  border-radius: 50%;
  font-weight: 500;
}

#center {
  width: 100%;
  /* background-color:aquamarine; */
  padding: 2vw 6vw;
}

#center > h1 {
  font-size: 4vw;
  font-weight: 500;
  line-height: 4.3vw;
  display: flex;
  justify-content: space-between;
}

#center-in {
  /* background-color: aqua; */
  width: 100%;
  margin-top: 4.5vw;
  display: flex;
  justify-content: space-between;
}

#center-in > p {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 2vw;
}

#right {
  width: 20%;
}

.elem {
  /* background-color: blueviolet; */
  /* margin: .5vw; */
  padding: 1vw 0;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elem > i {
  font-size: 1.5vw;
  font-weight: 400;
  opacity: 0;
}

.elem > a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3vw;
}

.elem:hover i {
  opacity: 1;
}
.elem:hover a {
  text-decoration: underline;
}

#bottom {
  height: 33%;
  width: 100%;
  /* background-color: rebeccapurple; */
  background-image: url(https://images.unsplash.com/photo-1508418717103-8b56bcf03360?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 25%;
}
